<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>SUPublicEDKey</key>
    <string>bxP11zE5Pla4VRO1J3UhVM3TRD4WUFdkKNDPWFWjU/I=</string>
    <key>SUFeedURL</key>
    <string>https://raw.githubusercontent.com/misilab/MisiInfo/main/docs/appcast.xml</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
    <key>SUScheduledCheckInterval</key>
    <integer>86400</integer>
</dict>
</plist>
